body{
    background-image: url(pic5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 700px;


}
.simple-form{
    text-align: center;
    margin: 50px 500px;
}
#registration{
    width: 100%;
    background-color: #051019;
    opacity: 0.8;
    padding: 50px 0px ;
}
#button{
    width: 250px;
    padding:10px ;
    border-radius: 5px;
    outline: 0px;
}
#ph{
    outline: 0px;
    width: 65px;
    padding: 10px;
    border-radius: 5px;

}
#phone{
    width: 180px;
    padding:10px ;
    border-radius: 5px;
    outline: 0px;
}
#rd{
    color: azure;

}
#but{
    color: azure;

}
#butt{
    width: 250px;
    padding:10px ;
    border-radius: 5px;
    outline: 0px;
    background-color: #0c6996;
    border: 2px solid#01010c;
    color: aliceblue;
    font-size: 18;
}
